/* common */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
ol, li, ul{list-style: none;}
a{color: #333;}
/* font-family: 'Nanum Gothic', sans-serif; */

.content{width: 100%; padding: 80px 0;}
.inner{width: 1170px; margin: 0 auto; font-family: 'Nanum Gothic';}
.inner .title{font-size: 20px;}
.txt_hidden{text-indent: 100%; overflow: hidden; white-space: nowrap;}

@media screen and (max-width:1200px){
   .inner{width: 100%; padding: 0 20px;}
}
@media screen and (max-width:980px){
   .inner{width: 100%; padding: 0 20px;}
}
@media screen and (max-width:768px){
   .inner{width: 100%; padding: 0 20px;}
}


.swiper-pagination{z-index: 4;}
.swiper-button-prev,
.swiper-button-next{z-index: 4;}

.swiper-button-pause{display: block;}
.swiper-button-play{display: none;}
.swiper-button-pause>img,
.swiper-button-play>img{display: block;}

.slide_play_wrap.stop .swiper-button-pause{display: none;}
.slide_play_wrap.stop .swiper-button-play{display: block;}

/* gnb_wrap mobile */

.full-screen_menu{display: none; width: 100%; height: 100%; padding: 20px 0; position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 10; border: 1px solid black; text-align: center; overflow-y: scroll; z-index: 5;}
.full-screen_menu::before{content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.full-screen_menu .menu_wrap{display: inline-block; vertical-align: middle; text-align: left; background-color: #fff; width: 90%; max-width: 1180px; height: 820px;}

.full-screen_menu .menu_wrap .gnb_wrap{position: relative; height: 100%;}


.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile{position: relative; display: none; background-color: #EE0700;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .profile{padding: 25px 20px;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .profile .pic{display: inline-block; width: 36px; height: 36px; background-color: #fff; border-radius: 100%; text-align: center; line-height: 36px;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .profile .pic>img{width: 13px;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .profile>p{color: #fff; display: inline-block; font-size: 14px; letter-spacing: -1px; transform: translateY(-3px);/*픽셀 살짝 안맞아서*/}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .util{display: flex;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .log_in,
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .information{display: block; width: 50%;background-color: #EE0700; color: #fff; font-size: 14px; text-align: center; padding: 13px 0; border: 1px solid rgba(255, 255, 255, 0.3);}

.full-screen_menu .menu_wrap .gnb_wrap .close_btn{background-color: transparent; border: 0;}

.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .close_btn{position: absolute; top: 30px; right: 20px; cursor: pointer;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile .close_btn>img{width: 13px;}

.full-screen_menu .menu_wrap .gnb_wrap .top_bar-pc{position: relative; font-size: 20px; color: #fff; background-color: #44465C; padding: 20px 30px; font-weight: 700;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar-pc .close_btn{position: absolute; top: 50%; right: 30px; transform: translateY(-50%); cursor: pointer;}
.full-screen_menu .menu_wrap .gnb_wrap .top_bar-pc .close_btn>img{display: block;}

.full-screen_menu .menu_wrap .gnb_wrap .favorite_menu{text-align: right; border-bottom: 1px solid #ddd;padding: 12px 60px 12px 0; }
.full-screen_menu .menu_wrap .gnb_wrap .favorite_menu>li{display: inline-block; border-right : 1px solid #ddd; padding: 0 15px; line-height: 0.7; /*픽셀 살짝 안맞는거 조치-->*/font-size: 0;}
.full-screen_menu .menu_wrap .gnb_wrap .favorite_menu>li:last-of-type{padding-right: 0; border-right: none;}
.full-screen_menu .menu_wrap .gnb_wrap .favorite_menu>li>a{font-size: 14px;}


.full-screen_menu .menu_wrap .gnb_wrap .gnb{width: 220px; height: 704px;/*820px - (title 높이 - favorite_menu 높이)<--116px*/ background-color: #eee; padding-top: 30px;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a{font-size: 15px; color: #333; padding: 10px 25px; display: block; letter-spacing: -1px;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a:hover{background-color: #EE0700; color: #fff;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a.on{background-color: #EE0700; color: #fff;}

.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1{position: absolute; right: 0; top: 116px; width: calc(100% - 220px); height: 704px; background-color: #fff; padding: 30px 60px; overflow-y: auto;}

.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1>li{letter-spacing: -1px; margin-bottom: 30px;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1>li>a{display: block; font-size: 16px; font-weight: 700;border-bottom: 2px solid #44465C; padding: 20px 0; }

.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2{}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2>li{border-bottom: 1px solid #ddd; display: flex; flex-wrap: wrap;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2>li>a{display: block; font-size: 14px;width: 170px; padding: 18px 0;}

.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3{ width: calc(100% - 170px); padding: 18px 0; display: flex; justify-content: flex-start; flex-wrap: wrap;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3>li{width: 50%;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3>li>a{font-size:14px; display: block; line-height: 1.8;}
.full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3>li>a::before{content: ''; display: inline-block; width: 3px; height: 3px; border-radius: 100%; background-color: #44465C; transform: translateY(-4px); margin-right: 10px;}

@media screen and (max-width:980px){
   .full-screen_menu .menu_wrap{display: block; position: fixed; width: 88%; height: 100%; top: 0; right: 0;}

   .full-screen_menu .menu_wrap .gnb_wrap .top_bar_mobile{display: block;}
   
   .full-screen_menu .menu_wrap .gnb_wrap .top_bar-pc{display: none;}
   .full-screen_menu .menu_wrap .gnb_wrap .favorite_menu{display: none;}

   .full-screen_menu .menu_wrap .gnb_wrap .gnb{width: 80px; height: auto; padding-top: 0; background-color: #fff;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a{ font-size: 14px; text-align: center; border-bottom: 1px solid #ddd; padding: 20px 0;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a:hover,
   .full-screen_menu .menu_wrap .gnb_wrap .gnb>li>a.on{background-color: transparent; color: #EE0700;}

   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1{padding: 0; width: calc(100% - 80px); height: calc(100% - 132px); border-left: 1px solid #ddd; top: 132px; padding-top: 10px;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1>li{margin-bottom: 0;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1>li>a{padding: 13px 20px;font-size: 15px; font-weight: 400;border-bottom: none; }
  
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2{display: none; background-color: #eee;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_1>li.on>.depth_2{display: block;}

   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2>li{border-bottom: none;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2>li>a{width: 100%;padding: 10px 10px;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_2>li>a::before{display: inline-block; content: 'ㄴ'; font-size: 8px; transform: translateY(-3px); margin-right: 8px;}

   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3{width: 100%; padding: 0;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3>li{width: 100%;padding: 5px 30px;}
   .full-screen_menu .menu_wrap .gnb_wrap .gnb .depth_3>li>a::before{width: 7px; height: 1px; border-radius: 0%; margin-right: 5px;}
}


/* quick_buttons */
.quick_buttons{position: fixed; right: 0; top: 30%; z-index: 4;}
.quick_buttons>ul>li{text-align: right; margin-bottom: 2px;}
.quick_buttons>ul>li>a{display: inline-block; padding: 0 12px;  background-color: #44465C; color: #fff; font-size: 14px; line-height: 40px; transform: translateX(calc(100% - 40px)); transition: 0.5s;}
.quick_buttons>ul>li>a:hover{transform: translateX(0);}

.quick_buttons>ul>li>a>img{display: inline-block; margin-right: 13px; transform: translateY(2px);}

/* .top_botton */
.top_btn{
   position: fixed; right: 10%;bottom: 20px; z-index: 5; width: 40px; height: 40px;
   background: url('../img/btn-direction-top.png') no-repeat center; background-size: cover;
   cursor: pointer; border: 0; 
}


/* header */
.header{position: relative; font-family: 'Nanum Gothic';}

.header .bg_gnb{display: none; position: absolute; top: 100%; left: 0; z-index: 1; width: 100%; height: 380px; background-color: #fff; border-bottom: 1px solid #333; border-top: 1px solid #E1E3E6;}
.header .bg_gnb::after{content: ''; display: block; position: absolute; bottom: 0; width: 100%; height: 55px; border-top: 1px solid #E1E3E6;}
.header .bg_gnb>.inner>img{display: block; position: absolute; top: 90px; left: 55px;}

.header .inner{position: relative;}
.header .inner.top{height: 60px; padding-top: 15px; display: flex; justify-content: space-between;}
.header .con_box{display: inline-block; margin-right: 20px;}
.header .con_box>span{display: inline-block; transform: translateY(-5px); font-size: 13px; color: #444;}
.header .con_box>button{display: inline-block; cursor: pointer; border: none;}

.header .top_menu{}
.header .top_menu>li{display: inline-block; padding: 0 20px; border-right: 1px solid #ddd;}
.header .top_menu>li:last-of-type{border-right: none; padding-right: 0;}
.header .top_menu>li>a{display: block; font-size: 13px; color: #444;}

.header .top_menu>li.language{position: relative;}
.header .top_menu>li.language>a::after{display: inline-block; transform: translateY(-1px); margin-left: 10px; content: '\f0dd'; font: 900 15px 'Font Awesome 5 Free';}
.header .top_menu>li.language>ul{display: none; position: absolute; top: 30px; right: 0; z-index: 5; padding: 15px 20px; width: 130px; background-color: #fff; border: 1px solid #333; border-radius: 10px; flex-wrap: wrap;}
.header .top_menu>li.language>ul>li{width: 100%;}
.header .top_menu>li.language>ul>li>a{display: block; font-size: 15px; padding: 8px 0;}


.header .top_menu>li.field{position: relative;}
.header .top_menu>li.field>a{color: #EE0700;}
.header .top_menu>li.field>a::after{display: inline-block; transform: translateY(-1px); margin-left: 10px; content: '\f0dd'; font: 900 15px 'Font Awesome 5 Free'; color: #444;}
.header .top_menu>li.field>ul{display: none;  position: absolute; top: 30px; right: 0; z-index: 5; padding: 20px 20px 0; width: 350px; background-color: #fff; border: 1px solid #333; border-radius: 10px; flex-wrap: wrap; }
.header .top_menu>li.field>ul>li{width: 33.333%; }
.header .top_menu>li.field>ul>li>a>.icon{width: 55px; height: 55px;  background-color: #777; border-radius: 30%; text-align: center; margin: 0 auto;}
.header .top_menu>li.field>ul>li:nth-of-type(1)>a>.icon{background-color: #F16669;}
.header .top_menu>li.field>ul>li:nth-of-type(2)>a>.icon{background-color: #BF9D83;}
.header .top_menu>li.field>ul>li:nth-of-type(3)>a>.icon{background-color: #4CC771;}
.header .top_menu>li.field>ul>li:nth-of-type(4)>a>.icon{background-color: #658DD0;}
.header .top_menu>li.field>ul>li:nth-of-type(5)>a>.icon{background-color: #58606B;}
.header .top_menu>li.field>ul>li:nth-of-type(6)>a>.icon{background-color: #9385DD;}
.header .top_menu>li.field>ul>li>a>.icon>img{margin-top: 15px;}

.header .top_menu>li.field>ul>li>a>p{text-align: center; font-size: 14px; font-weight: 550; margin: 10px 0 20px; color: #777;}

.header .top_menu>li.on>a::after{content: '\f0d8'; transform: translateY(2px);}
.header .top_menu>li.on>ul{display: flex;}


.header .inner.bottom{height: 70px; position: relative; display: flex; justify-content: space-between; align-items: center;}
.header .bottom .logo{margin-top: 20px;}
.header .bottom .logo>a{display: block;}
.header .bottom .logo>a>img{display: block;}

.header .bottom .btn_wrap button{margin: 0;border: 0; width: 30px; height: 30px;}
.header .bottom .btn_wrap .menu_btn{ background: url(../img/ico-menu-navy.png) no-repeat center; cursor: pointer;}
.header .bottom .btn_wrap .search_btn{ background: url(../img/ico-search-navy.png) no-repeat center; cursor: pointer;}

.header .bottom .btn_wrap .search_btn.on{background: url(../img/ico-close.png) no-repeat center; background-color: #44465C; }


.header .gnb_wrap{}
.header .gnb_wrap .favorite_menu{display: none; position: absolute; top: calc(100% + 320px); z-index: 1; width: 100%; line-height: 60px; font-size: 15px;}
.header .gnb_wrap .favorite_menu>p{display: inline-block; margin-right: 30px; font-weight: 700; color: #333;}
.header .gnb_wrap .favorite_menu>ul{display: inline-block;}

.header .gnb_wrap .favorite_menu>ul>li{display: inline-block; margin-right: 30px;}
.header .gnb_wrap .favorite_menu>ul>li>a{display: block;}

.header .gnb{display: flex; }
.header .gnb>li{padding-left: 15px; line-height: 70px; position: relative; width: 160px; }
.header .gnb>li:last-of-type{display: none;}
.header .gnb>li>a{display: inline-block; position: relative; font-weight: 800; font-size: 20px;}
.header .gnb>li>a::after{content: ''; display: block; position: absolute; bottom: 20px; width: 100%; height: 2px; background-color: transparent;}


/* hover */
.header .gnb>li:hover>a{color: #EE0700;}
.header .gnb>li:hover>a::after{background-color: #EE0700;}
.header .gnb>li:hover>.depth_1{background-color: #F6F6F6;}

.header .depth_1{display: none; position: absolute; z-index: 1; top: 100%; left: 0; width: 100%; height: 320px; padding: 15px;}
.header .depth_1>li>a{display: block; margin: 17px 0; font-size: 14px; line-height: normal;}
.header .depth_1>li:hover>a{color: #EE0700; text-decoration: underline;}
.header .depth_2{display: none;}


/* header-search_box */
.header .search_box{display: none; position: absolute; z-index: 3; top: 100%; left: 0;width: 100%; background-color: #fff; border-top: 1px solid #E1E3E6; border-bottom: 1px solid #333; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);}
.header .search_box.on{display: block;}


.header .search_box>.search{margin: 0 auto; padding: 45px 0 65px;width: 600px; display: flex;}

.header .search_box>.search>label{display: none;}
.header .search_box>.search>input{display: block; padding: 15px 20px; width: 88%; font-size: 18px; border: 3px solid #EE0700; border-radius: 10px; color: #777; }
.header .search_box>.search>input::placeholder{color: #777; font-family: 'Nanum Gothic'; font-weight: 700;}
.header .search_box>.search>input:focus{outline: 1px dotted black;}

.header .search_box>.search>a.search_btn{display: block; position: relative; width: 55px; height: 55px;  margin-left: 20px;border-radius: 40%; background-color: #EE0700;box-shadow:0 7px 10px #ee080057;}
.header .search_box>.search>a.search_btn>img{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.header .search_box .close{display: none; text-align: center; padding: 10px; font-size: 15px; font-weight: 700; color: #333; border-top: 1px solid #E1E3E6; cursor: pointer;}

@media screen and (max-width:1200px){
   .header .bottom .search_btn{margin-left: 10px;}
}
@media screen and (max-width:1100px){
   .header .gnb>li{width: 140px;}
}
@media screen and (max-width:980px){
   .quick_buttons{display: none;}

   .header .inner.top{display: none;}
   .header .inner.bottom{height: 65px; border-bottom: 1px solid #E1E3E6; position: relative;}
   .header .inner.bottom::after{content: ''; display: block; position: absolute; width: 180px; height: 74px; background-image: url(../img/m-header-bg.png); background-size: 180px 74px; background-position: center; top: 0; right: 0; z-index: 3;}
   .header .bottom .logo{width: 100px; line-height: 70px;}
   .header .bottom .logo>a>img{width: 100%; display: inline-block;}
   .header .gnb_wrap{position: fixed; top: 0; right: 0; display: none;}
   .header .bottom .btn_wrap .menu_btn{position: relative; background: url(../img/ico-menu-white.png) no-repeat center; background-size: 19px 16px; margin-top: 20px; z-index: 4;}
   .header .bottom .btn_wrap .search_btn{position: relative; top: -5px; width: 20px; height: 20px; background: url(../img/ico-search.png); background-size: cover; z-index: 4;}

   .header .bottom .search_btn.on{background: url(../img/ico-search.png); background-size: cover; background-color: transparent;}

   .header .search_box{border-top: none;}
   .header .search_box>.search{width: 100%; padding: 30px 20px 40px;}
   .header .search_box>.search>input{width: calc(100% - 50px); border: 2px solid #EE0700; padding: 10px; font-size: 13px;}
   .header .search_box>.search a.search_btn{width: 36px; height: 36px;}
   .header .search_box>.search a.search_btn>img{width: 17px; height: 17px;}
   .header .search_box .close{display: block;}

}
@media screen and (max-width:768px){
   .header .inner.bottom{height: 50px;}
   .header .inner.bottom::after{width: 134px; height: 65px; background-size: 134px 65px;}
   .header .bottom .logo{width: 100px; line-height: 65px;}
}


/* top_info */
.top_info{padding: 50px 0;}
.top_info .wrap{display: flex; flex-wrap: wrap; justify-content: space-between;}
.top_info .search{width: 55%; height: 55px; margin-top: 20px; display: flex; }
.top_info .search>label{display: none;}
.top_info .search>input{display: block; margin-right: 20px; padding: 15px 30px; width: 80%; font-size: 18px; border: 3px solid red; border-radius: 10px;}
.top_info .search>input::placeholder{color: #999;font-family: 'Nanum Gothic'; font-weight: 700;}
.top_info .search>input:focus{outline: 1px dotted black;}
.top_info .search a.search_btn{display: block; position: relative; width: 55px; height: 55px; border-radius: 40%; background-color: #EE0700; box-shadow:0 7px 10px #ee080057;}
.top_info .search a.search_btn>img{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.top_info .slider-pc{width: 400px; position: relative;}
.top_info .slider-pc .swiper{position: relative; z-index: 0; overflow: hidden; text-align: right;}

.top_info .slider-pc .swiper-pagination{z-index: 0; bottom: -13px; width: auto; height: auto;font-weight: 800; text-align: left; font-size: 16px;}


.top_info .slider-pc .swiper-button-prev,
.top_info .slider-pc .swiper-button-next{top: auto; bottom: -13px; width: auto; height: auto; z-index: 0;}
.top_info .slider-pc .swiper-button-prev{left: 60px;}
.top_info .slider-pc .swiper-button-next{right: auto; left: 110px;}

.top_info .slider-pc .swiper-button-prev::after,
.top_info .slider-pc .swiper-button-next::after{content: ''; font: 900 15px 'Font Awesome 5 Free'; color: #333;}
.top_info .slider-pc .swiper-button-prev::after{content: '\f053';}
.top_info .slider-pc .swiper-button-next::after{content: '\f054';}

.top_info .slider-pc .slide_play_wrap{position: absolute; bottom: -10px; left: 85px; cursor: pointer;}

.top_info .slider-mobile{display: none; width: 100%;width: 100%;}
.top_info .slider-mobile .swiper{overflow: hidden; position: relative; width: 100%; top: -15px;}
.top_info .slider-mobile .swiper-slide{width: 100%;}
.top_info .slider-mobile .swiper-slide>img{width: 100%;}


.top_info .slider-mobile .swiper-pagination{width: 100%; position: relative; bottom: 15px;}
.top_info .slider-mobile .swiper-pagination-bullet{border: 1px solid #44465C; background-color: #fff; opacity: 1; margin: 0 3.5px;}
.top_info .slider-mobile .swiper-pagination-bullet-active{background-color: #44465C;}


@media screen and (max-width:980px){
   .top_info .search{width: 57%; padding-right: 35px;}

   .top_info .slider-pc{width: 43%; max-width: 400px; }
   .top_info .slider-pc .swiper{width: 100%;}
   .top_info .slider-pc .swiper .swiper-slide{width: 100%;}
   .top_info .slider-pc .swiper .swiper-slide>img{width: 100%;}
}
@media screen and (max-width:865px){
  .top_info .search>input{margin-right: 15px; padding: 10px 15px; font-size: 15px;}
  .top_info .search a.search_btn{width: 42px; height: 42px;}
  .top_info .search a.search_btn>img{width: 20px; height: 20px;}

}
@media screen and (max-width:768px){
   .top_info{padding: 45px 0;}
   .top_info .search{margin-top: 0;}
}
@media screen and (max-width:640px){
   .top_info{padding: 0px 0px}
   .top_info .inner{padding: 0;}
   .top_info .search{display: none;}
   .top_info .slider-pc{display: none;}
   .top_info .slider-mobile{display: block;}
}


/* visitor */

.visitor_custom{padding: 0;}
.visitor_custom .tab{position: relative; height: 190px;}

.visitor_custom .tab{display: flex; flex-wrap: wrap;}
.visitor_custom .tab>li>.menu{display: block; position: relative; left: 180px; top: -25px; font-size: 15px;  color: #333; line-height: 30px; background-color: transparent; border-radius: 20px; width: 90px; text-align: center;}
.visitor_custom .tab>li.on>.menu{background-color: #EE0700; color: #fff;}

/* toggle before */
.visitor_custom .tab>li:first-of-type>.menu::before{content: ''; display: block;  box-sizing: border-box; width: 200%; height: 30px; position: absolute; z-index: -1; background-color: #F6F6F6; border-radius: 20px; border: 1px solid #E1E3E6;}


.visitor_custom .tab>li>.panel{position: absolute; bottom: 0; left: 0; width: 100%;}
.visitor_custom .tab>li>.panel>ul{display: flex;flex-wrap: wrap;}
.visitor_custom .tab>li>.panel>ul>li{display: block; width: 11.111%;}

.visitor_custom .tab>li>.panel>ul>li>a>.icon{position: relative; background-color: #F6F6F6; width: 80px; height: 80px; border-radius: 40%; margin: 0 auto;}
.visitor_custom .tab>li>.panel>ul>li.link>a>.icon::after{display: block; position: absolute; bottom: -5px; right: -3px; content: '\f35d'; font: 900 10px 'Font Awesome 5 Free'; width: 25px; height: 25px; text-align: center; line-height: 25px; background-color: #44465C; border-radius: 100%; color: #fff;}
.visitor_custom .tab>li>.panel>ul>li>a>.icon>img{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.visitor_custom .tab>li>.panel>ul>li>a>p{text-align: center; font-size: 16px; margin-top: 20px; line-height: 1.5;}


.visitor_custom .tab>li>.panel>ul>li>a>.icon>img:nth-of-type(2){display: none; text-align: center;}

/* panel-icon-hover-action */
.visitor_custom .tab>li>.panel>ul>li:hover>a>.icon{background-color: #44465C; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);}
.visitor_custom .tab>li>.panel>ul>li.link:hover>a>.icon::after{background-color: #fff; color: #44465C;}

.visitor_custom .tab>li>.panel>ul>li:hover>a>.icon>img:nth-of-type(1){display: none;}
.visitor_custom .tab>li>.panel>ul>li:hover>a>.icon>img:nth-of-type(2){display: block;}

@media screen and (max-width:980px){
   .visitor_custom .tab{height: 165px;}
   .visitor_custom .tab>li>.panel>ul>li>a>.icon{width: 70px; height: 70px; border-radius: 45%;}
   .visitor_custom .tab>li>.panel>ul>li>a>p{margin-top: 10px; font-size: 14px;}
}
@media screen and (max-width:865px){
   .visitor_custom .tab{height: 145px;}
   .visitor_custom .tab>li>.panel>ul>li>a>.icon{width: 60px; height: 60px; border-radius: 50%;}
   .visitor_custom .tab>li>.panel>ul>li>a>.icon>img{width: 29px;}
}
@media screen and (max-width:768px){
   .visitor_custom{padding-bottom: 40px;}
   .visitor_custom .inner{padding: 0;}
   .visitor_custom .title{padding-left: 20px;}
   .visitor_custom .tab{height: 285px;}
   .visitor_custom .tab>li>.menu{left: 200px;}
   .visitor_custom .tab>li>.panel>ul>li{width: 20%; margin-top: 30px;}
}
@media screen and (max-width:640px){
   .visitor_custom{padding-top: 15px;}
}
@media screen and (max-width:480px){
   .visitor_custom .title{width: 100%; text-align: center; margin-bottom: 40px;}
   .visitor_custom .tab{height: 340px; justify-content: center;}
   .visitor_custom .tab>li>.menu{left: 0; top: -20px;}
   .visitor_custom .tab>li>.panel>ul>li{width: 33.333%; margin-top: 18px;}
   .visitor_custom .tab>li>.panel>ul>li>a>.icon{width: 45px; height: 45px;}
   .visitor_custom .tab>li>.panel>ul>li>a>.icon>img{width: 24px;}
   .visitor_custom .tab>li>.panel>ul>li>a>p{font-size: 13px; margin-top: 7px;}
}
@media screen and (max-width:360px){
}


/* banner */
.banner .box{padding: 30px 0; height: 130px; background: url(../img/@banner.png) center no-repeat; border-radius: 10px; border-top-right-radius: 50px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.banner .box p{margin-bottom: 20px; font-size: 20px;}
.banner .box strong{font-size: 28px;}

@media screen and (max-width:768px){
   .banner .box p{margin-bottom: 1rem; font-size: 1rem;}
   .banner .box strong{font-size: 1.5rem;}
}
@media screen and (max-width:480px){
   .banner .box p{margin-bottom: 0.8rem;}
   .banner .box strong{font-size: 1rem;}
}

/* information */
/* pc- gutter 62px */
/* mobile - width:29.8%; gutter:5.3%; */
.information{background-color: #F6F6F6;}
.information .wrap{margin-bottom: 60px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.information .box{width: 352px; border-radius: 20px; border: 1px solid #eee; background-color: #fff;}

.information .first .box{border: 1px solid #eee; padding: 0 40px; width: 352px; height: 320px;}

.information .first .box.news{padding: 18px 0 0; background-color: #EF6266; border-top-left-radius: 50px; border: none;}

.information .first .box.news>ul>li{border-bottom: 1px solid #ffffff50;}
.information .first .box.news>ul>li:last-of-type{border-bottom: none;}
.information .first .box.news>ul>li>a{display: block; position: relative; padding: 17px 35px; font-size: 18px; font-weight: 700;  color: #fff;}
.information .first .box.news>ul>li>a>img{position: absolute; top: 50%; right: 35px; transform: translateY(-50%);}


.information .first .box.health_info{padding-top: 35px; border-top-right-radius: 50px; background-color: #fff;}
.information .first .box.health_info .title{padding-bottom: 30px;border-bottom: 1px solid #eee;}

.information .first .box.health_info>ul>li{position: relative; border-bottom: 1px solid #eee; line-height: 45px;}

.information .first .box.health_info>ul>li>a{display: block; display: inline-block; font-size: 14px;}
.information .first .box.health_info>ul>li>a::after{content: '\f054'; font: 900 13px 'Font Awesome 5 Free'; color: #777; margin-left: 7px;}

.information .first .box.health_info>ul>li>a:hover{color: #EE0700;}
.information .first .box.health_info>ul>li>img{display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}


.information .first .box.guarantee{background: url(../img/bg-guarantee.png) no-repeat right bottom; border-bottom-right-radius: 50px; background-color: #2FA298; padding: 0; border: none;}
.information .first .box.guarantee>a{display: block; color: #fff; padding: 35px 40px; height: 50%; border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.information .first .box.guarantee>a>.title{margin-bottom: 15px;}
.information .first .box.guarantee>a>p{font-size: 15px; line-height: 1.8;}




/* ========second======== */
/* second-policy */
.information .second .box{height: 320px;}
.information .second .policy{width: 766px; position: relative; padding-top: 35px;  background: url(../img/bg-notice.png) center no-repeat; background-size: 100% 100%; border-top-left-radius: 50px; border: none;}

.information .second .policy .title_wrap{display: block; margin: 0 auto; padding-bottom: 25px; width: 330px;}
.information .second .policy .title_wrap>img{display: inline-block; margin-right: 15px; transform: translateY(-10px);}
.information .second .policy .title{display: inline-block; font-size: 27px;}

.information .second .policy .title>span{display: block; font-size: 18px; margin-bottom: 15px;}

.information .second .policy .info{padding-top: 25px; width: 95%; border-top: 1px solid rgb(255, 208, 0); margin: 0 auto;}
.information .second .policy .info>ul{text-align: center; }
.information .second .policy .info>ul>li{margin-bottom: 20px; font-size: 15px; position: relative;}
.information .second .policy .info>ul>li:last-of-type{margin-bottom: 0}

.information .second .policy .info>ul>li:hover>p{display: block;}

.information .second .policy .info>ul>li>p{display:none; position: absolute; bottom: calc(100% + 20px); left: 50%; transform: translateX(-50%); padding: 20px; width: 230px; background-color: #44465C; border-radius: 15px; color: #fff; box-shadow: 5px 5px 10px #44465c73;}
.information .second .policy .info>ul>li>p::after {content:''; position:absolute; bottom: -10px; left:50%; transform: translateX(-50%); border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #44465C; 
   }

.information .second .policy .info>ul>li>p>span{display: block; color: #FFE626; margin-bottom: 5px;}
.information .second .policy .info>ul>li:nth-of-type(3)>p>span{display: inline-block;}
.information .second .policy .info>ul>li>a{display: inline-block; transition: 0.5s; position: relative;}
.information .second .policy .info>ul>li>a::before{content: ''; display: block; width: 105%; height: 10px; background-color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: -1; display: none;}

.information .second .policy .info>ul>li>a:hover{transform: scale(1.5); font-weight: 700;}
.information .second .policy .info>ul>li>a:hover::before{display: block;}

/* second-event */
.information .second .event{position: relative; padding: 35px 40px; margin-right: 0;/*slider-mobile때문*/ height: 320px; border: 1px solid #eee; border-bottom-right-radius: 50px; background-color: #fff;}
.information .second .event .title{margin-bottom: 20px;}
.information .second .event .swiper{overflow: hidden; position: relative;}
.information .second .event .swiper-slide>img{border-radius: 15px;}

.information .second .event .swiper-pagination{font-weight: 800; font-size: 16px; width: auto; height: auto; top: 40px; left: 190px;}
.information .second .event .swiper-button-prev,
.information .second .event .swiper-button-next{top: 65px; width: auto; height: auto;}
.information .second .event .swiper-button-prev{left: auto; right: 100px;}
.information .second .event .swiper-button-next{right: 50px;}
.information .second .event .swiper-button-prev::after,
.information .second .event .swiper-button-next::after{content: ''; font: 900 15px 'Font Awesome 5 Free'; color: #333;}
.information .second .event .swiper-button-prev::after{content: '\f053';}
.information .second .event .swiper-button-next::after{content: '\f054';}

.information .second .event .slide_play_wrap{position: absolute; top: 44px; right: 75px; z-index: 10; cursor: pointer;}

.information .second .event.slider-mobile{display: none;}


.information .second .event.slider-mobile .swiper-pagination{left: auto; right: 25px;}
.information .second .event.slider-mobile .swiper-pagination-bullet{border: 1px solid #44465C; background-color: #fff; opacity: 1; margin: 0 3.5px;}
.information .second .event.slider-mobile .swiper-pagination-bullet-active{background-color: #44465C;}
.information .second .event.slider-mobile .slide_play_wrap{right: 125px;}



/* ==========third======== */
.information .third .box{height: 370px; padding: 35px 40px;}

/* third-health_graph */
.information .third .health_graph{position: relative; border-bottom-left-radius: 50px;}
.information .third .health_graph .date{margin-top: 25px; font-size: 15px; line-height: 1.7; color: #444;}
.information .third .health_graph .date>span{display: block;}


.information .third .health_graph .disease{position: relative; width: 100%;padding-top: 140px;}
.information .third .health_graph .disease>ul{border: 1px solid #ccc; border-radius: 5px; overflow: hidden; font-size: 0;}
.information .third .health_graph .disease>ul>li{display: inline-block; width: 20%; text-align: center; border-left: 1px solid #ccc;}
.information .third .health_graph .disease>ul>li:first-of-type{border-left: none;}
.information .third .health_graph .disease>ul>li>a{display: block; font-size: 13px; padding: 13px 0;}
.information .third .health_graph .disease>ul>li>a:hover,
.information .third .health_graph .disease>ul>li>a.on{background-color: #44465C; color: #fff;}
.information .third .health_graph .disease .panel{position: absolute; width: 100%; text-align: center; top: 0; left: 0; background-color: #fff;}
.information .third .health_graph .disease .panel .state{transform: translateY(-30px); font-size: 15px; font-weight: 700;color: #057EB6;}
.information .third .health_graph .disease .panel .state>span{display: block; font-size: 20px; font-weight: 800;}

/* third-about */
.information .third .about{}
.information .third .about .box{height: 170px; }
.information .third .about .organization{background: #fff url(../img/bg-organization.png) no-repeat right top; border-top-right-radius: 50px; margin-bottom: 30px;}
.information .third .about .map{ background: #fff url(../img/bg-center.png) no-repeat right bottom;border-top-left-radius: 50px;}

.information .third .about .box .title{margin-bottom: 20px;}
.information .third .about .box p{font-size: 14px; line-height: 1.7; color: #444;}

.information .third .marketing{position: relative; border-bottom-right-radius: 50px; margin-right: 0/*slider-mobile 때문*/;}
.information .third .marketing .title{margin-bottom: 20px;}
.information .third .marketing .swiper{overflow: hidden; position: relative; margin-top: 25px;}
.information .third .marketing .swiper-slide>img{border-radius: 15px;}

.information .third .marketing .swiper-pagination{font-weight: 800; font-size: 16px; width: auto; height: auto; top: 40px; left: 190px}
.information .third .marketing .swiper-button-prev,
.information .third .marketing .swiper-button-next{top: 65px; width: auto; height: auto;}
.information .third .marketing .swiper-button-prev{left: auto; right: 100px;}
.information .third .marketing .swiper-button-next{right: 50px;}
.information .third .marketing .swiper-button-prev::after,
.information .third .marketing .swiper-button-next::after{content: ''; font: 900 15px 'Font Awesome 5 Free'; color: #333;}
.information .third .marketing .swiper-button-prev::after{content: '\f053';}
.information .third .marketing .swiper-button-next::after{content: '\f054';}

.information .third .marketing .slide_play_wrap{position: absolute; top: 44px; right: 75px; z-index: 5; cursor: pointer;}

.information .third .marketing.slider-mobile{display: none;}


.information .third .marketing.slider-mobile .swiper-pagination{left: auto; right: 25px;}
.information .third .marketing.slider-mobile .swiper-pagination-bullet{border: 1px solid #44465C; background-color: #fff; opacity: 1; margin: 0 3.5px;}
.information .third .marketing.slider-mobile .swiper-pagination-bullet-active{background-color: #44465C;}
.information .third .marketing.slider-mobile .slide_play_wrap{right: 80px;}



/*============forth=========== */
.information .forth{width: 100%; padding: 40px; border: 1px solid #ddd; border-radius: 20px; background: #fff url(../img/bg-news-hiwell.png) no-repeat top right; margin-bottom: 0;}
.information .forth .box{margin-right: 0; border-radius: 0; padding: 0; border: none; background-color: transparent;}
.information .forth .box .title{margin-bottom: 25px;}

.information .forth .service_center{width: 56.4%; margin-right: 3.4%; display: flex; flex-wrap: wrap;justify-content: space-between;}
.information .forth .service_center .title{width: 100%;}
.information .forth .service_center>a{display: block; padding: 20px; width: 48.5%; height: 110px; background-color: #F6F6F6; border-radius: 10px;}
.information .forth .service_center .info{position: relative; }
.information .forth .service_center .info .number{font-size: 23px; font-weight: 700;}
.information .forth .service_center .info .number>span{display: block; font-size: 13px; margin: 5px 0 10px; }
.information .forth .service_center .info .time{font-size: 15px;}
.information .forth .service_center .info>img{display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}

.information .forth .service_center .for_foreigner{position: relative; padding-top: 30px; font-size: 16px; font-weight: 700;}
.information .forth .service_center .for_foreigner>img{display: block; position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}

.information .forth .magazine{width: 21.6%}
.information .forth .magazine>a{position: relative; display: block; padding: 20px 0; height: 110px;}
.information .forth .magazine>a>p{padding-left: 80px; font-size: 14px; line-height: 1.5; color: #444;}
.information .forth .magazine>a>img{display: block; position: absolute; top: 50%; transform: translateY(-50%);}

.information .forth .qr_code{width: 18.6%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.information .forth .qr_code .title{width: 100%;}

.information .forth .qr_code>div>p{margin-top: 7px; text-align: center; font-size: 15px;}

.information .forth .qr_code .code{position: relative; width: 90px; height: 90px; background-color: #F4F1F0; border-radius: 10px; line-height: 90px;}
.information .forth .qr_code .code>img{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}




@media screen and (max-width:1200px){
   .information{padding: 50px 0 55px;}
   .information .box{width: 29.8%;}
   .information .first .box{width: 29.8%;}

   /* second */
   .information .second .policy{width: 64.9%; padding: 40px 30px;}
   .information .second .policy .title_wrap>img{transform: translateY(0px);}
   .information .second .policy .title{font-size: 23px;}
   .information .second .policy .title>span{font-size: 15px; margin-bottom: 10px;}
   .information .second .policy .info{width: 100%;}
   .information .second .policy .info>ul>li{margin-bottom: 15px;}
   .information .second .policy .info>ul>li>a:hover{transform: scale(1.3);}
   .information .second .event .swiper{height: 100%; padding-bottom: 50px;}
   .information .second .event .swiper-slide>img{width: 100%; height: 100%;}
   .information .second .event .swiper-pagination{left: calc(100% - 160px);}

   /* third */
   .information .third .about{width: 29.8%; margin-right: 5.3%;}
   .information .third .about .box{width: 100%;}
   .information .third .marketing .swiper{height: 100%; padding-bottom: 50px;}
   .information .third .marketing .swiper-slide>img{width: 100%; height: 100%;}
   .information .third .marketing .swiper-pagination{left: calc(100% - 160px);}

   /* forth */
   .information .forth .service_center{width: 40%;}
   .information .forth .service_center .info>img{display: none;}
   .information .forth .service_center .for_foreigner>img{display: none;}

   .information .forth .magazine{width: 24%;}

   .information .forth .qr_code{width: 21%}
   .information .forth .qr_code>div{width: calc((100% - 20px)/2);}
   .information .forth .qr_code .code{width: 100%;}

}
@media screen and (max-width:980px){
   .information .wrap{margin-bottom: 45px;}
   .information .box{width: 31.8%;}
   .information .first .box{width: 31.8%;}
   .information .first .box.health_info{padding-left: 25px;}
   .information .first .box.guarantee>a{padding-left: 30px;}
   .information .first .box.guarantee>a>.title{margin-bottom: 10px;}
   .information .first .box.guarantee>a:first-of-type>p>br{display: none;}
   
   /* second */
   .information .second .policy{width: 65.9%;}
   .information .second .policy .info>ul>li>a:hover{transform: scale(1.2);}

   /* third */
   .information .third .about{width: 31.8%; margin-right: 2.3%;}
   .information .third .about .box{padding: 35px 40px;}
   .information .third .health_graph{padding: 35px 25px;}

   /* forth */
   .information .forth{padding: 45px 20px;}

   .information .forth .service_center{width: 63%; margin-bottom: 40px;}

   .information .forth .magazine{width: 33%;}

   .information .forth .qr_code{width: 100%;}
   .information .forth .qr_code>div{width: calc((100% - 10px)/2);}
}
@media screen and (max-width:865px){
   /* second */
   .information .second .policy{padding: 45px 20px;}
   .information .second .event{padding: 35px 25px;}
   .information .second .event .swiper-pagination{top: 37px; left: calc(100% - 120px);}
   .information .second .event .swiper-button-prev,
   .information .second .event .swiper-button-next{top: 62px;}
   .information .second .event .swiper-button-prev{right: 62px;}
   .information .second .event .swiper-button-next{right: 25px;}
   .information .second .event .slide_play_wrap{top: 41px; right: 43px;}
   /* third */
   .information .third .about .box{padding: 35px 25px;}
   .information .third .marketing{padding: 35px 25px;}
   .information .third .marketing .swiper-pagination{top: 37px; left: calc(100% - 120px);}
   .information .third .marketing .swiper-button-prev,
   .information .third .marketing .swiper-button-next{top: 62px;}
   .information .third .marketing .swiper-button-prev{right: 62px;}
   .information .third .marketing .swiper-button-next{right: 25px;}
   .information .third .marketing .slide_play_wrap{top: 41px; right: 43px;}

}
@media screen and (max-width:768px){
   .information{padding: 60px 0 40px;}
   .information .wrap{margin-bottom: 0; margin-top: 40px;}
   .information .box{margin-top: 30px; width: 100%;}
   

   .information .first{margin-top: 0;}
   .information .first .box{width: 100%;}
   .information .first .box.news{padding-right: 0;}
   .information .first .box.guarantee>a:first-of-type>p>br{display: block;}

   /* second */
   .information .second .policy{width: 100%; height: 300px; padding: 40px;}

   /* third */
   .information .third .about{width: 50%; padding-right: 20px; margin-right: 0; margin-top: 20px;}
   .information .third .about .map{margin-top: 0;}
   .information .third .marketing{width: 50%; padding: 35px 20px; margin-top: 20px;}

   /* forth */
   .information .forth .service_center>a{height: 100px;}
   .information .forth .service_center .info{padding: 10px 15px;}
   .information .forth .service_center .info .number{font-size: 16px; font-weight: 700;}
   .information .forth .service_center .info .time{font-size: 13px;}
   .information .forth .service_center .for_foreigner{padding: 20px 15px;}
}
@media screen and (max-width:640px){

   .information .first .box.health_info{border-radius: 10px; border-top-right-radius: 0px; border-bottom-left-radius: 50px; padding-top: 25px; height: auto; padding-bottom: 60px;}

   /* second */
   .information .second{margin-top: 0;}
   .information .second .policy{display: none;}
   .information .second .event{padding: 30px 25px; margin-top: 40px; border-radius: 10px; border-bottom-right-radius: 10px;}
   .information .second .event.slider-pc{display: none;}
   .information .second .event.slider-mobile{display: block;}

   /* third */
   .information .third{margin-top: 0;}
   .information .third .health_graph{display: none;}

   .information .third .about{width: 100%; margin-top: 40px; padding-right: 0;}
   .information .third .about .box{height: 140px; padding: 25px 20px; border-radius: 10px;}
   .information .third .about .box .title{font-size: 18px;}

   .information .third .about .organization{margin-bottom: 25px; background: #fff url(../img/bg-organization-m.png) no-repeat left top; background-size: 80px 60px; border-top-right-radius: 50px;}
   .information .third .about .map{margin-bottom: 0; background: #fff url(../img/bg-center-m.png) no-repeat right bottom; background-size: 100px 100px;}

   .information .third .marketing{width: 100%; padding: 30px 20px; margin-top: 40px; border-radius: 10px;}
   .information .third .marketing .title{font-size: 18px;}
   .information .third .marketing .swiper{padding-bottom: 70px;}
   .information .third .marketing.slider-pc{display: none;}
   .information .third .marketing.slider-mobile{display: block;}

   /* forth */
   .information .forth{border-radius: 10px;}
   .information .forth .box .title{font-size: 18px;}
   .information .forth .service_center{width: 100%; margin-bottom: 20px; }
   .information .forth .service_center .info{padding: 20px 15px;}
   .information .forth .magazine{width: 100%; margin-bottom: 20px;}
   .information .forth .magazine>a{height: auto;}
   .information .forth .magazine>a>p>br{display: none;}
}
@media screen and (max-width:420px){
   .information .forth .service_center{margin-bottom: 25px;}
   .information .forth .service_center>a{width: 100%; margin-right: 0; margin-bottom: 10px;}
}



/* footer */
.footer{padding: 45px 0 75px; background-color: #F6F6F6;border-top: 1px solid #ddd;}
.footer .inner{}
.footer .wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
/* footer_buttons */
.footer .footer_buttons>ul>li{display: inline-block; margin-right: 10px; padding: 13px 0;}
.footer .footer_buttons>ul>li>a{display: block; font-size: 13px; color: #444;}
.footer .footer_buttons>ul>li:nth-of-type(3)>a{color: #EE0700;}



/* footer_sites */
.footer .footer_sites{display: flex; flex-wrap: wrap;}
.footer .footer_sites .sites_wrap{position: relative; background-color: #fff; border-radius: 5px; display: flex;}
.footer .footer_sites .sites_wrap:first-of-type{margin-right: 15px;}

.footer .footer_sites .sites_wrap .title{position: relative; padding: 13px 40px 13px 20px; width: 190px; font-size: 13px; border-right: 2px solid #F6F6F6; cursor: pointer; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;}

.footer .footer_sites .sites_wrap .title::after{content: '\f0d7'; position: absolute; top: 50%; right: 13px; transform: translateY(-50%); font: 900 20px 'Font Awesome 5 Free';}
.footer .footer_sites .sites_wrap.on .title::after{content: '\f0d8';}

.footer .footer_sites .sites_wrap .sites_box{display: none; position: absolute; bottom: calc(100% + 5px); left: 0; width: 100%; border: 1px solid #555; border-radius: 5px; overflow: hidden;}
.footer .footer_sites .sites_wrap.on .sites_box{display: block;}

.footer .footer_sites .sites_wrap .sites_box .sites{max-height: 400px; padding: 15px 20px;  overflow: auto; background-color: #fff;}

.footer .footer_sites .sites_wrap .sites_box .sites>li>a{display: block; font-size: 14px; padding: 7px 0;}

.footer .footer_sites .sites_wrap .move_btn{display: block; padding: 13px 10px; font-size: 13px; color: #777; border-radius: inherit; text-align: center;}


.footer .footer_link_wrap{padding: 1px; margin-top: 30px;}

/* footer_certifications */
.footer .certifications>a{display: inline-block; margin-left: 7px;}
.footer .certifications>a>img{display: block;}

/* footer_sns */
.footer .sns{margin-top: 10px;}
.footer .sns>a{display: inline-block; position: relative; margin: 0 3px; width: 35px; height: 35px; background-color: #fff; border-radius: 100%;}
.footer .sns>a>img{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}


/* footer_info */
.footer .footer_info{margin-top: 45px; width: 70%;}
.footer .footer_info>p{margin-bottom: 10px; font-size: 13px; color: #444;}


@media screen and (max-width:1200px){
   .footer{padding: 40px 0 80px;}
   /* footer_buttons */
   .footer .footer_buttons{width: 100%; text-align: center;}

   /* footer_sites */
   .footer .footer_sites{margin: 10px 0 20px;width: 100%; justify-content: center;}

   .footer .footer_link_wrap{width: 100%; margin-top: 0; text-align: center;}
   .footer .certifications{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0;}
   .footer .certifications>a{margin: 0 5px;}

   .footer .sns{margin-top: 15px;}

   .footer .footer_info{width: 100%; text-align: center; margin-top: 25px;}
   .footer .footer_info>.notice{display: none;} 


}
@media screen and (max-width:768px){
   .footer{padding: 30px 0 20px;}
   .footer .certifications{border-bottom: none; padding-bottom: 0;}
   .footer .certifications>a{margin: 0; margin: 0 3px;}
   .footer .certifications>a>img{height: 27px;}
   .footer .sns{margin-top: 10px;}
   .footer .sns>a{width: 32px; height: 32px; margin: 0 1px;}
   .footer .footer_info{width: 100%; text-align: center; margin-top: 55px;}
   .footer .footer_info>.address{position: relative;}
   .footer .footer_info>.address>span{display: block; position: absolute; width: 100%; top: -25px;}
}
@media screen and (max-width:640px){
   .footer .footer_buttons>ul>li:last-of-type{display: none;}
   .footer .footer_sites .sites_wrap{width: 100%;}
   .footer .footer_sites .sites_wrap:first-of-type{margin-right:0}
   .footer .footer_sites .sites_wrap .title{width: calc(100% - 45px)}
   .footer .footer_sites .sites_wrap .move_btn{ width: 45px;}
}
@media screen and (max-width:360px){

   .footer .inner{padding: 0;}
   .footer .footer_sites{padding: 0 20px;}
   .footer .footer_info>p{font-size: 12px;}
}