*{margin: 0; padding: 0; box-sizing: border-box}
ul,ol,li{list-style: none}
a{display: block; text-decoration: none; color: #887468}

/*----------- .content 공통 -----------*/
.content{position: relative; width: 100%; padding: 150px 0px; overflow: hidden}
.content .t_bar{display: block; width: 30px; height: 1px; background-color: #482e1f}
.content .title{padding: 10px 0px; font: 36px 'gyeonggititlevbold'; color: #482e1f}
.content .txt{font: 16px/22px 'gyeonggibatangregular'; color: #856e5e}

.inner{width: 1180px; margin: 0 auto; position: relative}

.top{display: none; z-index: 5; position: fixed; right: 50px; bottom: 50px; width: 50px; height: 50px; padding-top: 3px; border-radius: 50%;        
    background-color: rgba(206, 192, 177, 0.87); text-align: center; font: bold 16px 'gyeonggititlemedium'; color: #482e1f; box-shadow: 1px 1px 5px #887468; border: 0;
}

@media screen and (max-width: 1200px){
    .content{padding: 120px 40px;}
    .content .title{font-size: 28px}
    .content .txt{font-size: 14px; line-height: 18px}

    .inner{width: 100%}
    .top{right: 30px; bottom: 50px; width: 40px; height: 40px; padding-top: 3px; font-size: 13px}
}
@media screen and (max-width: 768px){
    .content{padding: 100px 40px;}
    .content .title{font-size: 32px}
    .content .txt{font-size: 15px; line-height: 20px}
    .inner{width: 100%}
}
@media screen and (max-width: 425px){
    .content{padding: 60px 20px}
    .content .title{font-size: 28px}

    .top{right: 10px; bottom: 20px; width: 30px; height: 30px; font-size: 10px}
}
@media screen and (max-width: 375px){
    .content .title{font-size: 26px}
}

/*------------------- .header ------------------*/
.header{position: relative; width: 100%; height: auto; background-color: #482e1f; text-align: center}

.header .gnb_bg{
    display: none; position: absolute; top: 149px; left: 0px; z-index: 5; 
    width: 100%; height: 300px; background-color: rgba(72, 46, 31, 0.98)
}

.header .toggle{display: none}
.header .logo{margin: 0 auto;}
.header .logo > a{display: inline-block; font: bold 32px/100px 'Bradley Hand ITC';}

.header nav{position: relative; width: 100%; height: 50px; border-top: 1px solid #887468}
.header nav .bar{position: absolute; left: 0px; top: 47px; display: block; width: 20%; height: 3px; background: #e68847;transition: 0.3s;}

.header .util{position: absolute; top: -56px; right: 0; display: flex;}
.header .util>li{ padding: 0px 4px}
.header .util>li>a{font: 12px 'gyeonggititlemedium'}
.header .util>li>a:hover{color: #e68847}

.gnb{width: 100%; height: 100%; display: flex;}
.gnb>li{position: relative;  width: 20%}
.gnb>li>a{font: 18px/50px 'gyeonggititlemedium'; color: #aa9486}

.gnb>li>a::after{display: block;  position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #482e1f; opacity: 0; color: #c3ad9f}
.gnb>li:nth-of-type(1)>a::after{content: '브랜드스토리'}
.gnb>li:nth-of-type(2)>a::after{content: '메뉴'}
.gnb>li:nth-of-type(3)>a::after{content: '매장'}
.gnb>li:nth-of-type(4)>a::after{content: '멤버쉽'}
.gnb>li:nth-of-type(5)>a::after{content: '뉴스&이벤트'}

.gnb>li.on>a{font-size: 20px}
.gnb>li:hover>a::after{opacity: 1}

.gnb>li .sub{
    display: none;
    position: absolute; top: 49px; left: 50%; transform: translateX(-50%); 
    z-index: 5; display: none; width: 100%; padding: 20px 0px
}
.gnb>li .sub>li{padding: 20px 0px;}
.gnb>li .sub>li>a{font: bold 18px 'gyeonggititlelight'; color: #7b675c}
.gnb>li .sub>li:hover>a{color: #e68847; transition: 0.3s}

@media screen and (max-width: 1200px){
    .header div.gnb_bg{height: 270px}
    .header .util{right: 0%}
    .gnb>li.on>a{font-size: 18px}
    .gnb>li .sub>li>a{font-size: 16px}
}
@media screen and (max-width: 768px){
    .header{position: fixed; height: 78px; z-index: 5}
    .header div.gnb_bg{display: none}
    .header .toggle{display: block; position: absolute; left: 26px; top: 26px; z-index: 5; background-color: transparent; border: none; cursor: pointer;}
    .header .toggle>i{font-size: 30px; color: #fff6e9}
    .header .logo{width: 100%}
    .header .logo>a{font-size: 26px; line-height: 80px; color: #fff6e9}
    
    .header nav{position: fixed; left: -100%; width: 300px; height: 100vh; z-index: 10; background-color: rgba(72, 46, 31, 0.98); border-top: 1px solid rgba(136, 116, 104, 0.5); transition: 0.7s}
    .header nav.on{left: 0}
    .header nav .bar{display: none}
    
    .header .util{width: 100%; position: static; display: block; padding: 10px 0;}
    .header .util>li>a{line-height: 30px;}

    .gnb{width: 100%; height: auto; display: block; padding: 10px 0;border-top: 1px solid rgba(136, 116, 104, 0.5)}
    .gnb>li{width: 100%; }
    .gnb>li>a,
    .gnb>li.on>a{font-size: 18px; line-height: 50px}
    .gnb>li.on>a::after{color: #e68847}
    
    .gnb>li .sub{position: static; transform: translateX(0%); padding: 0px; z-index: 2; background-color: #e9decf}
    .gnb>li .sub>li{width: 100%; padding: 16px 0px;}
    .gnb>li .sub>li>a{width: 100%; font-size: 14px; color: #5a4940}
    .gnb>li .sub>li>a:hover{text-decoration: underline; font-weight: 900; color: #5a4940}
    
}
@media screen and (max-width: 425px){
    .header{height: 60px}
    .header .toggle{left: 24px; top: 18px}
    .header .toggle>i{font-size: 22px}
    .header .logo>a{font-size: 22px; line-height: 60px}

    .header nav{width: 100%; height: 550px}
    .header .util{top: 20px}
    .gnb>li{top: 50px}
    .gnb>li .sub>li{padding: 10px 0px;}
    
}



/*------------- (section) .slide_frame --------------*/
.slide_frame{position: relative; width: 100%; height: 900px; overflow: hidden}

/*-------ul, li, pos 공통-------*/
.slide_frame > ul{position: absolute; top: 0; z-index: 0; height: 100%; overflow: hidden}
.slide_frame > ul > li{position: absolute; left: -100%; z-index: 0}
.slide_frame > ul > li.pos1{z-index: 1; left: 0%; transition: 1s}
.slide_frame > ul > li.pos2{z-index: 1; left: 100%; transition: 1s}

.slide_frame .slide_bg,
.slide_frame .slide_txt{left: 0}
.slide_frame .slide_txt,
.slide_frame .slide_img{width: 50%}

.slide_frame .slide_bg >li,
.slide_frame .slide_txt >li,
.slide_frame .circle >li{width: 100%; height: 100%}

.slide_frame .slide_img >li,
.slide_frame .name_txt >li{left: 100%}

/*------- .slide_bg -------*/
.slide_frame .slide_bg{width: 100%}
.slide_frame .slide_bg::after{content: ''; display: block; position: relative; z-index: 1; width: 100%; height: 100%; background-color: #482e1f; opacity: 0.7}

.slide_frame .slide_bg > li{background-position: center; background-size: cover; background-repeat: no-repeat;}

/*-------.slide_txt> .txt_box------*/
.slide_frame .slide_txt >li .txt_box{position: absolute; width: 100%; height: 100%; padding: 200px 0px 0px 220px}
.slide_frame .slide_txt >li .txt_box > .s_title {margin-bottom: 94px; font: bold 50px/80px 'batang'; color: #fff6e9}

.slide_frame .slide_txt >li .txt_box .pagination{position: absolute; left: 0; top: 53%; width: 200px}
.slide_frame .slide_txt >li .txt_box .pagination span{display: block; width: 100%; padding: 0px 5px; text-align: right; font: bold 22px/50px 'gyeonggititlelight'; color: #e68847}
.slide_frame .slide_txt >li .txt_box .pagination .pg_bar{float: left; width: 100%; height: 1px; background-color: #fff6e9}
.slide_frame .slide_txt >li .txt_box .pagination .num{font-weight: 200; color: #f0e9df}

.slide_frame .slide_txt >li .name::after{display: block;  position: absolute; top: 0; left: 110%; width: 100%; height: 100%; text-align: left}
.slide_frame .slide_txt >li:nth-of-type(1) .name::after{content: '베이커리'}
.slide_frame .slide_txt >li:nth-of-type(2) .name::after{content: '샌드위치'}
.slide_frame .slide_txt >li:nth-of-type(3) .name::after{content: '케이크 및 디저트'}
.slide_frame .slide_txt >li:nth-of-type(4) .name::after{content: '음료'}

.slide_frame .slide_txt .txt_box .s_txt{padding-bottom: 20px; font: 20px/34px 'gyeonggititlelight'; color: #fff6e9}

.slide_frame .slide_txt .txt_box .s_btn{width: 140px; height: 46px; border-radius: 50px; background-color: #fff6e9; text-align: center;font: bold 18px/46px 'gyeonggititlelight'; color: #482e1f}
.slide_frame .slide_txt .txt_box .s_btn:hover{background-color: #e68847; color: #fff6e9; transition: 0.3s}

/*---------- .circle_bg_progress -----------*/
.slide_frame .circle_bg{position: relative}
.slide_frame .circle_bg>.round{position: absolute; right: -300px; top: -150px; z-index: 1; width: auto; height: auto; }

/*-------.slide_img-------*/
.slide_frame .slide_img{right: 18%; z-index: 2}

.slide_frame .slide_img >li{top: 50%; transform: translateY(-50%); width: 80%; height: 480px}
.slide_frame .slide_img >li:nth-of-type(2){height: 350px}
.slide_frame .slide_img >li:nth-of-type(3){height: 420px}
.slide_frame .slide_img >li:nth-of-type(4){width: 90%; height: 620px}
.slide_frame .slide_img >li >img{height: 100%; transform: rotate(5deg); animation: move_img 8s infinite both;}
.slide_frame .slide_img >li:nth-of-type(4) >img{transform: rotate(-10deg); animation: move_img_d 8s infinite both; }

.slide_frame .slide_img >li.pos1{left: 10%; top: 50%; z-index: 2; opacity: 1; transform: translateY(-50%);transition: 0.7s cubic-bezier(.3,.67,.54,1.32)}
.slide_frame .slide_img >li.pos2{z-index: 2; opacity: 0;transition: 0s}
.slide_frame .slide_img >li:nth-of-type(2).pos1{left: 17%}
.slide_frame .slide_img >li:nth-of-type(3).pos1{left: 13%; top: 52%}
.slide_frame .slide_img >li:nth-of-type(4).pos1{left: 30%;}

@keyframes move_img{
    0%, 20%,40%,60%,80%{transform: rotate(5deg);}
    10%,30%,50%,70%,90%{transform: rotate(0deg);}
}
@keyframes move_img_d{
    0%, 20%,40%,60%,80%{transform: rotate(-10deg);}
    10%,30%,50%,70%,90%{transform: rotate(-5deg);}
}

/*-------.circle-------*/
.slide_frame .circle{right: -3%; top: 50%; transform: translateY(-50%); z-index: 3; width: 700px; height: 700px; border-radius: 50%; box-shadow: -5px -5px 10px rgba(72, 46, 31, 0.5)}

.slide_frame .circle >li:nth-of-type(1){background-color: #fff6e9}
.slide_frame .circle >li:nth-of-type(2){background-color: #6d5344}
.slide_frame .circle >li:nth-of-type(3){background-color: #fff3e3}
.slide_frame .circle >li:nth-of-type(4){background-color: #887468}

.slide_frame .circle >li.pos1,
.slide_frame .circle >li.pos2{z-index: 3; transition-delay: 0.5s}

/*-------.name_txt-------*/
.slide_frame .name_txt{right: 0; top: 45%; z-index: 4; width: 440px; height: 150px}
.slide_frame .name_txt >li{font: bold 100px 'gyeonggititlevbold'; color: #cec0b1}

.slide_frame .name_txt>li.pos1{z-index: 4}
.slide_frame .name_txt>li.pos2{opacity: 0; transition: 0s;}
.slide_frame .name_txt>li:nth-of-type(1).pos1{left: 22%}
.slide_frame .name_txt>li:nth-of-type(3).pos1{left: 15%}


/*-------indigator-------*/
.slide_frame .indigator{position: absolute; right: 30px; top: 150px; z-index: 4; width: 700px; height: 700px}
.slide_frame .indigator .btn{position: absolute; width: 24px; height: 24px; border-radius: 50%; background:#efe3d2; border: none; cursor: pointer;}
.slide_frame .indigator .btn::after{display: block; position: absolute; top: 0px; left: 40px; z-index: 4; white-space: nowrap; text-align: left; font: 20px 'gyeonggititlemedium'; color: #efe3d2; }
.slide_frame .indigator .btn:nth-of-type(1)::after{content: '베이커리'}
.slide_frame .indigator .btn:nth-of-type(2)::after{content: '샌드위치'}
.slide_frame .indigator .btn:nth-of-type(3)::after{content: '케이크 및 디저트'}
.slide_frame .indigator .btn:nth-of-type(4)::after{content: '음료'}


.slide_frame .indigator .btn + .count_list > span{position: absolute; width: 5px; height: 5px; margin: 12.5px 5px; border-radius: 100%; background: #efe3d2; text-indent: -9999px; transition-duration: 0.3s;}
.slide_frame .indigator .btn.on + .count_list > .count_00{transition-delay: 0.5s}
.slide_frame .indigator .btn.on + .count_list > .count_01{transition-delay: 1s}
.slide_frame .indigator .btn.on + .count_list > .count_02{transition-delay: 1.5s}
.slide_frame .indigator .btn.on + .count_list > .count_03{transition-delay: 2s}

.slide_frame .indigator .btn.on{background: #e68847}
.slide_frame .indigator .btn.on::after{color: #e68847}
.slide_frame .indigator .btn.on + .count_list> span{background: #e68847}


/*----------- .indigator 동그라미 배치 ------------*/
.slide_frame .indigator .ind_01 {top: 60px ; left: 248px}
.slide_frame .indigator .ind_02 {top: 207px; left: 149px}
.slide_frame .indigator .ind_03 {top: 380px; left: 154px}
.slide_frame .indigator .ind_04 {top: 520px; left: 252px}

.slide_frame .indigator .count_0 .count_00 {top:  81px; left: 220px;}
.slide_frame .indigator .count_0 .count_01 {top: 107px; left: 198px;}
.slide_frame .indigator .count_0 .count_02 {top: 135px; left: 180px;}
.slide_frame .indigator .count_0 .count_03 {top: 166px; left: 166px;}

.slide_frame .indigator .count_1 .count_00 {top: 242px; left: 144px;}
.slide_frame .indigator .count_1 .count_01 {top: 274px; left: 142px;}
.slide_frame .indigator .count_1 .count_02 {top: 308px; left: 142px;}
.slide_frame .indigator .count_1 .count_03 {top: 342px; left: 146px;}

.slide_frame .indigator .count_2 .count_00 {top: 413px; left: 172px;}
.slide_frame .indigator .count_2 .count_01 {top: 442px; left: 188px;}
.slide_frame .indigator .count_2 .count_02 {top: 468px; left: 207px;}
.slide_frame .indigator .count_2 .count_03 {top: 492px; left: 228px;}

@keyframes ani {
    0% {transform:translateX(0px);}
    100% {transform:translateX(20px);}
}


@media screen and (max-width: 1440px){

/*-------- .slide_txt > .txt_box------*/
    .slide_frame .slide_txt >li .txt_box{padding: 200px 0px 0px 120px}
    .slide_frame .slide_txt >li .txt_box .s_title{margin-bottom: 104px; font-size: 42px; line-height: 64px}
    .slide_frame .slide_txt >li .txt_box .pagination{left: -100px; top: 440px}
    .slide_frame .slide_txt >li .txt_box .pagination >p{font-size: 20px}
    .slide_frame .slide_txt .txt_box .s_txt{font-size: 18px; line-height: 28px}
    .slide_frame .slide_txt .txt_box .s_btn{width: 130px;font-size: 16px}
    
/*-------div.circle_bg-------*/
    .slide_frame .circle_bg>.round{right: -540px}
    
/*-------.slide_img > li-------*/
    .slide_frame .slide_img >li{height: 400px}
    .slide_frame .slide_img >li:nth-of-type(2){height: 340px}
    .slide_frame .slide_img >li:nth-of-type(3){height: 360px}
    .slide_frame .slide_img >li:nth-of-type(4){height: 560px}
    
    .slide_frame .slide_img >li.pos1{left: 14%}
    .slide_frame .slide_img >li:nth-of-type(2).pos1{left: 15%}
    .slide_frame .slide_img >li:nth-of-type(3).pos1{left: 17%}
    .slide_frame .slide_img >li:nth-of-type(4).pos1{left: 30%}
    
/*-------.circle > li-------*/  
    .slide_frame .circle{right: -270px}
    
/*-------.name_txt > li-------*/
    .slide_frame .name_txt>li{font-size: 90px}
    
    .slide_frame .name_txt>li.pos1{left: 28%}
    .slide_frame .name_txt>li:nth-of-type(1).pos1{left: 38%}
    .slide_frame .name_txt>li:nth-of-type(3).pos1{left: 30%}


/*-------indigator-------*/

    .slide_frame .indigator{right: -170px}
    .slide_frame .indigator .button{width: 20px; height: 20px}
    .slide_frame .indigator .button::after{top: -5.5px}
    
    /*----------- .indigator 동그라미 배치 ------------*/
        
    .slide_frame .indigator .ind_01 {top: 62px ; left: 246px}
    .slide_frame .indigator .ind_02 {top: 208px; left: 150px}
    .slide_frame .indigator .ind_03 {top: 380px; left: 152px}
    .slide_frame .indigator .ind_04 {top: 520px; left: 248px}
    
    .slide_frame .indigator .count_0 .count_00 {top:  81px; left: 222px;}
    .slide_frame .indigator .count_0 .count_01 {top: 107px; left: 200px;}
    .slide_frame .indigator .count_0 .count_02 {top: 135px; left: 180px;}
    .slide_frame .indigator .count_0 .count_03 {top: 166px; left: 166px;}
    
    .slide_frame .indigator .count_1 .count_00 {top: 241px; left: 143px;}
    .slide_frame .indigator .count_1 .count_01 {top: 274px; left: 140px;}
    .slide_frame .indigator .count_1 .count_02 {top: 308px; left: 141px;}
    .slide_frame .indigator .count_1 .count_03 {top: 342px; left: 146px;}
    
    .slide_frame .indigator .count_2 .count_00 {top: 408px; left: 166px;}
    .slide_frame .indigator .count_2 .count_01 {top: 438px; left: 182px;}
    .slide_frame .indigator .count_2 .count_02 {top: 466px; left: 200px;}
    .slide_frame .indigator .count_2 .count_03 {top: 492px; left: 222px;}
    
    
}
@media screen and (max-width: 1200px){
    
    .slide_frame{height: 800px}
    
/*-------- .slide_txt > .txt_box------*/
    .slide_frame .slide_txt >li .txt_box{padding-left: 70px}
    .slide_frame .slide_txt >li .txt_box .s_title{margin-bottom: 79px; font-size: 32px; line-height: 52px}
    .slide_frame .slide_txt >li .txt_box .pagination{left: -99px; top: 50%; width: 30%}
    .slide_frame .slide_txt >li .txt_box .pagination span{font-size: 18px; line-height: 30px}
    .slide_frame .slide_txt .txt_box .s_txt{padding-bottom: 15px ; font-size: 14px; line-height: 24px}
    .slide_frame .slide_txt .txt_box .s_btn{width: 100px; height: 35px;font-size: 12px; line-height: 35px}
    
/*-------div.circle_bg-------*/
    .slide_frame div.circle_bg>.round{right: -720px; top: -200px}
    
/*-------.slide_img > li-------*/
    .slide_frame .slide_img >li{height: 320px}
    .slide_frame .slide_img >li:nth-of-type(2){height: 280px}
    .slide_frame .slide_img >li:nth-of-type(3){height: 290px}
    .slide_frame .slide_img >li:nth-of-type(4){height: 420px}

    .slide_frame .slide_img >li.pos1{left: 8%}
    .slide_frame .slide_img >li:nth-of-type(2).pos1{left: 10%}
    .slide_frame .slide_img >li:nth-of-type(3).pos1{left: 12%; top: 52%}
    .slide_frame .slide_img >li:nth-of-type(4).pos1{left: 25%}
    
/*-------.circle > li-------*/  
    .slide_frame .circle{width: 580px; height: 580px}
    
/*-------.name_txt > li-------*/
    .slide_frame .name_txt{right: -20%; top: 44%; height: 100px}
    .slide_frame .name_txt>li{font-size: 70px}
    .slide_frame .name_txt>li.pos1,
    .slide_frame .name_txt>li:nth-of-type(1).pos1,
    .slide_frame .name_txt>li:nth-of-type(3).pos1{left: 5%}
    
/*-------indigator-------*/
    .slide_frame .indigator{right: -340px; top: 122px}
    .slide_frame .indigator .btn{width: 18px; height: 18px}
    .slide_frame .indigator .btn::after{top: -2px; font-size: 16px}
    .slide_frame .indigator .btn + .count_list > li{width: 4px; height: 4px}

/*----------- .indigator 동그라미 배치 ------------*/
    .slide_frame .indigator .ind_01 {top: 76px ; left: 193px}
    .slide_frame .indigator .ind_02 {top: 206px; left: 93px}
    .slide_frame .indigator .ind_03 {top: 372px; left: 106px}
    .slide_frame .indigator .ind_04 {top: 490px; left: 220px}

    .slide_frame .indigator .count_0 .count_00 {top:  89px; left: 166px;}
    .slide_frame .indigator .count_0 .count_01 {top: 112px; left: 142px;}
    .slide_frame .indigator .count_0 .count_02 {top: 138px; left: 122px;}
    .slide_frame .indigator .count_0 .count_03 {top: 166px; left: 107px;}
    
    .slide_frame .indigator .count_1 .count_00 {top: 235px; left: 86px;}
    .slide_frame .indigator .count_1 .count_01 {top: 268px; left: 84px;}
    .slide_frame .indigator .count_1 .count_02 {top: 302px; left: 86px;}
    .slide_frame .indigator .count_1 .count_03 {top: 334px; left: 94px;}
    
    .slide_frame .indigator .count_2 .count_00 {top: 398px; left: 124px;}
    .slide_frame .indigator .count_2 .count_01 {top: 425px; left: 143px;}
    .slide_frame .indigator .count_2 .count_02 {top: 446px; left: 166px;}
    .slide_frame .indigator .count_2 .count_03 {top: 466px; left: 190px;}

}
@media screen and (max-width: 768px){
    
    .slide_frame,.content,.footer{top: 80px}
    
    .slide_frame{height: 790px}
    .slide_frame .slide_txt{width: 100%}
    
/*-------- .slide_txt > .txt_box------*/  
    .slide_frame .slide_txt >li .txt_box{width: 100%; padding: 130px 0px 0px 60px}
    .slide_frame .slide_txt >li .txt_box .s_title{margin-bottom: 74px; font-size: 38px; line-height: 50px}
    
    
    .slide_frame .slide_txt >li .txt_box .pagination{left: -108px; top: 320px; width: 20%}
    .slide_frame .slide_txt >li .txt_box .pagination span{font-size: 18px}
    .slide_frame .slide_txt .txt_box .s_txt{font-size: 15px}
    .slide_frame .slide_txt .txt_box .s_btn{font-size: 14px}
    
/*-------div.circle_bg-------*/ 
    .slide_frame div.circle_bg>.round{display: none}
    
/*-------.slide_img > li-------*/
    .slide_frame .slide_img{width: 78%; height: 50%; top: 52%; right: 0; overflow: visible}
    
    .slide_frame .slide_img >li{height: 290px}
    .slide_frame .slide_img >li:nth-of-type(2){height: 230px}
    .slide_frame .slide_img >li:nth-of-type(3){height: 260px}
    .slide_frame .slide_img >li:nth-of-type(4){height: 350px; top: 50%}
    
    .slide_frame .slide_img >li.pos1{left: 3%}
    .slide_frame .slide_img >li:nth-of-type(2).pos1{left: 6%}
    .slide_frame .slide_img >li:nth-of-type(3).pos1{left: 3%}
    .slide_frame .slide_img >li:nth-of-type(4).pos1{left: 21%}
    
/*-------.circle > li-------*/
    .slide_frame .circle{top: 88%; right: -100px; width: 410px; height: 410px}
/*-------.name_txt > li-------*/
    .slide_frame .name_txt{right: -30%; top: 84%; height: 70px}
    .slide_frame .name_txt >li{font-size: 50px}
    
    .slide_frame .name_txt>li.pos1{left: 0%}
    .slide_frame .name_txt>li:nth-of-type(1).pos1{left: 8%}


/*-------indigator-------*/
    .slide_frame .indigator{right: -2px; top: 496px; width: 310px; height: 300px}
    .slide_frame .indigator .btn{width: 12px; height: 12px}
    .slide_frame .indigator .btn::after{display: none}

/*----------- .indigator 동그라미 배치 ------------*/
    .slide_frame .indigator .ind_01 {top: 20px ; left: 184px}
    .slide_frame .indigator .ind_02 {top: 62px; left: 87px}
    .slide_frame .indigator .ind_03 {top: 144px; left: 30px}
    .slide_frame .indigator .ind_04 {top: 248px; left: 28px}

    .slide_frame .indigator .count_0 .count_00 {top: 16px; left: 161px;}
    .slide_frame .indigator .count_0 .count_01 {top: 22px; left: 140px;}
    .slide_frame .indigator .count_0 .count_02 {top: 30px; left: 121px;}
    .slide_frame .indigator .count_0 .count_03 {top: 40px; left: 104px;}
    
    .slide_frame .indigator .count_1 .count_00 {top: 68px; left: 70px;}
    .slide_frame .indigator .count_1 .count_01 {top: 82px; left: 57px;}
    .slide_frame .indigator .count_1 .count_02 {top: 98px; left: 46px;}
    .slide_frame .indigator .count_1 .count_03 {top: 115px; left: 36px;}
    
    .slide_frame .indigator .count_2 .count_00 {top: 156px; left: 24px;}
    .slide_frame .indigator .count_2 .count_01 {top: 177px; left: 21px;}
    .slide_frame .indigator .count_2 .count_02 {top: 197px; left: 20px;}
    .slide_frame .indigator .count_2 .count_03 {top: 217px; left: 22px;}

}
@media screen and (max-width: 425px){
    
    .slide_frame,.content,.footer{top: 60px}
    .slide_frame{height: 550px}

    
/*-------- .slide_txt > .txt_box------*/ 
    .slide_frame .slide_txt >li .txt_box{padding: 60px 40px}
    .slide_frame .slide_txt >li .txt_box .s_title{margin-bottom: 56px; font-size: 23px; line-height: 34px}
    .slide_frame .slide_txt >li .txt_box .s_txt{font-size: 12px; line-height: 18px}
    .slide_frame .slide_txt >li .txt_box .pagination{left: -100px; top: 180px; width: 30%}
    .slide_frame .slide_txt >li .txt_box .pagination span{font-size: 14px}
    .slide_frame .slide_txt .txt_box .btn{width: 86px; height: 30px;font-size: 12px; line-height: 30px}
        
/*-------.slide_img > li-------*/ 
    .slide_frame .slide_img{width: 100%; top: 56%}
    
    .slide_frame .slide_img >li{height: 190px}
    .slide_frame .slide_img >li:nth-of-type(2){height: 150px}
    .slide_frame .slide_img >li:nth-of-type(3){height: 170px}
    .slide_frame .slide_img >li:nth-of-type(4){height: 218px}
    
    .slide_frame .slide_img >li.pos1{left: 14%; top: 46%}
    .slide_frame .slide_img >li:nth-of-type(2).pos1{left: 20%; top: 48%}
    .slide_frame .slide_img >li:nth-of-type(3).pos1{left: 18%; top: 45%}
    .slide_frame .slide_img >li:nth-of-type(4).pos1{left: 30%; top: 42%}
    
    .slide_frame .slide_img >li >img:nth-of-type(4){transform: rotate(-10deg)}
    .slide_frame .slide_img >li:nth-of-type(4) >img{transform: rotate(-10deg)}
    
/*-------.circle > li-------*/
    .slide_frame .circle{right: -45%; top: 100%}

/*-------.name_txt > li-------*/
    .slide_frame .name_txt{right: -60%}
    .slide_frame .name_txt >li{font-size: 40px}
    .slide_frame .name_txt >li.pos1{left: 10%}
    .slide_frame .name_txt >li:nth-of-type(1).pos1{left: 11%}
    .slide_frame .name_txt >li:nth-of-type(3).pos1{left: 10%}
    
/*-------indigator-------*/
    .slide_frame .indigator{top: 345px; width: 50%; height: 200px}
    .slide_frame .indigator .btn{width: 10px; height: 10px}
    .slide_frame .indigator .count_list{display: none}
    
/*----------- .indigator 동그라미 배치 ------------*/
    .slide_frame .indigator .ind_01 {top:  18px; left: 164px}
    .slide_frame .indigator .ind_02 {top:  45px; left:  94px}
    .slide_frame .indigator .ind_03 {top:  94px; left:  40px}
    .slide_frame .indigator .ind_04 {top: 160px; left:  10px}
    
}
@media screen and (max-width: 375px){
    
    .slide_frame .slide_txt >li .txt_box{padding: 50px 40px}
    .slide_frame .slide_txt >li .txt_box .s_title{margin-bottom: 66px}
    .slide_frame .slide_txt >li .txt_box .pagination{left: -84px}

    .slide_frame .slide_txt .txt_box .s_btn {font-size: 11px}
    /*-------.slide_img > li-------*/ 
        
    .slide_frame .slide_img{top: 55%}

    .slide_frame .slide_img >li{height: 180px}
    .slide_frame .slide_img >li:nth-of-type(2){height: 130px}
    .slide_frame .slide_img >li:nth-of-type(3){height: 150px}
    .slide_frame .slide_img >li:nth-of-type(4){height: 200px}
    
    .slide_frame .slide_img >li.pos1,
    .slide_frame .slide_img >li:nth-of-type(2).pos1,
    .slide_frame .slide_img >li:nth-of-type(3).pos1{top: 50%}
    .slide_frame .slide_img >li:nth-of-type(4).pos1{left: 32%; top: 48%}
    
    .slide_frame .circle{right: -56%; top: 103%}
    
    /*-------.name_txt > li-------*/
    .slide_frame .name_txt{right: -74%; top: 87%}
    .slide_frame .name_txt >li{font-size: 34px}
    .slide_frame .name_txt >li.pos1{left: 7%}
    .slide_frame .name_txt >li:nth-of-type(3).pos1{left: 9%}
    
    /*-------indigator-------*/
    .slide_frame .indigator{top: 360px; width: 52%}
    
}


/*----------- .b_story_content -----------*/
.b_story{padding-bottom: 300px; background-color: #e9decf;}
.b_story .bg_box{position: absolute; left: 80px; top: 80px; width: 100%; height: 550px; border: 10px solid #d3c5b6;}
.b_story .box{
    position: relative; z-index: 5; width: 100%; height: 550px; padding: 60px;
    background-color: #faf8f4; box-shadow: -5px 5px 10px rgba(72, 46, 31, 0.5);
    display: flex; justify-content: space-between; 
}
.b_story .bg_box span{display: block; position: absolute; background-color: #7b675c; transition-duration: 0.4s;}
.b_story .bg_box span:nth-of-type(1){width: 0; height: 10px; left: 0px; top: -10px;}
.b_story .bg_box span:nth-of-type(2){width: 10px; height: 0; right: -10px; top: 0;}
.b_story .bg_box span:nth-of-type(3){width: 0; height: 10px; right: 0; bottom: -10px;}
.b_story .bg_box span:nth-of-type(4){width: 10px; height: 0; left: -10px; bottom: 0;}

.b_story.on .bg_box span:nth-of-type(1){width: calc(100% + 10px); transition-delay: 0s;}
.b_story.on .bg_box span:nth-of-type(2){height: calc(100% + 10px); transition-delay: 0.3s;}
.b_story.on .bg_box span:nth-of-type(3){width: calc(100% + 10px); transition-delay: 0.6s;}
.b_story.on .bg_box span:nth-of-type(4){height: calc(100% + 10px); transition-delay: 0.9s;}

.b_story .box .pic_box{flex-shrink: 0; width: 70%; height: 95%; margin-left: -200px; overflow: hidden; box-shadow: -5px 5px 10px rgba(72, 46, 31, 0.5);}
.b_story .box .pic_box .slide_box {position: relative; width: 100%; height: 100%; display: flex; }
.b_story .box .pic_box .slide_box li {flex-shrink: 0; width: 100%; background-repeat: no-repeat; background-position: top center; background-size: 100%; }

.b_story .box .pagination{position: absolute; left: calc((70% - 200px) / 2); bottom: 30px; transform: translateX(-50%);}
.b_story .box .pagination button{display: inline-block;  width: 16px; height: 16px; margin: 0 5px; border-radius: 50%; background-color: #e9decf; border: none; transition: 0.1s; cursor: pointer}
.b_story .box .pagination button.on{background-color: #e8bf81}

.b_story.on .box .txt_box{opacity: 1}

.b_story .box .txt_box{
    width: 42%; flex-shrink: 0; padding: 0; font-family: 'gyeonggibatangregular'; line-height: 1.5; transition: 0.9s;
    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}
.b_story.on .box .txt_box{opacity: 1}
.b_story .box .txt_box .txt_1{padding: 30px 0px 10px; font: 36px 'gyeonggititlevbold'; color: #482e1f}
.b_story .box .txt_box .txt_2{margin: 0 0 30px; font-size: 18px;  color:#856e5e}
.b_story .box .txt_box .txt_3{margin: 0 0 10px; font: 26px 'gyeonggititlevbold'; color: #482e1f}
.b_story .box .txt_box .txt_4{color: #d3c5b6; font-size: 16px;}
.b_story .box .txt_box >img{padding: 15px 0px}


@media screen and (max-width: 1200px){
    .b_story{padding: 100px 80px 200px;}
    .b_story .bg_box{ left: 50px; top: 60px; height: 500px;}
    .b_story .box{height: 500px; padding: 40px;}
    .b_story .box .pic_box{width: 50%; height: 380px; margin: 0;}
    .b_story .box .pic_box .slide_box li {background-size: cover;}
}
@media screen and (max-width: 768px){
    .b_story{padding: 100px 40px;}
    .b_story .bg_box{display: none;}
    .b_story .box{height: auto; z-index: 0;flex-wrap: wrap; padding: 0; border: 10px solid #7b675c;}
    .b_story .box .pic_box{width: 100%; box-shadow: none;}
    
    .b_story .box .txt_box{width: 100%; padding: 40px;}
    .b_story .box .pagination{position: static; width: 100%; margin-top: 20px; text-align: center; transform: translateX(0);}
}
@media screen and (max-width: 425px){
    .b_story{padding: 80px 20px;}
    .b_story .box .pic_box{ height: 200px;}
    .b_story .box .txt_box .txt_1{font-size: 1.75em;}
    .b_story .box .txt_box .txt_3{font-size: 1.5em;}
}
@media screen and (max-width: 375px){
}

/*----------------- .banner ------------------*/
.banner{position: relative;width: 100%; height: 600px;background-color: #3f322b;background : url('../img/banner_img.jpg') center no-repeat fixed; background-size: cover; display: flex; justify-content: center; align-items: center;}
.banner::after{content: '';position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(72, 46, 31, 0.5);}
.banner .inner{position: relative; z-index: 1;}
.banner .txt{font: 32px 'gyeonggibatangbold'; color: #fff6e9}
.banner .txt>br{display: none}
.banner p.right{margin: 60px 0 0; text-align: right;}

@media screen and (max-width: 1200px){
    .banner{height: 500px; }
    .banner .txt{font-size: 26px}
    .banner p.right{margin-top: 30px}
}
@media screen and (max-width: 768px){
    .banner .txt{text-align: center}
    .banner .txt>br{display: block}
    .banner p.right{margin-top: 10px; line-height: 2; text-align: center}
}
@media screen and (max-width: 425px){
    .banner{height: 400px; }
    .banner .txt{width: 100%; font-size: 22px; }
}


/*-------------- .menutent --------------*/

.menu{background-color: #fcf7f0; height: 1080px;}
.menu .txt_box{display: block; width: 350px; height: 130px; opacity: 0; transition: 0.5s}
.menu .img_box .item{position: absolute; width: 380px; opacity: 0.9; transition: 0.7s; overflow: hidden; cursor: pointer; opacity: 0}
.menu .img_box .item:nth-of-type(1){left: 0; top: 160px; height: 480px;  transform: translateX(-200%)}
.menu .img_box .item:nth-of-type(2){left: 400px; top: 0px; height: 380px;  transform: translateY(-150%)}
.menu .img_box .item:nth-of-type(3){left: 400px; top: 400px; height: 380px;  transform: translateY(150%)}
.menu .img_box .item:nth-of-type(4){right: 0; top: 100px; height: 480px; transform: translateX(200%)}

.menu .img_box .item::after{content: ''; display: block;  position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(145, 106, 84, 0.2); transform: translateX(-100%); transition: 0.5s}
.menu .img_box .item img{width: 100%; height: 100%; transform: scale(1); transition: 0.5s}

.menu .img_box .item .btn{
    position: absolute; bottom: 0; width: 100%; height: 60px;
    padding: 0px 30px; background-color: rgba(72, 46, 31, 0.8);
    overflow: hidden
}
.menu .img_box .item .btn::after{
    content: ''; display: block;  
    position: absolute; left: 0; bottom: 0; 
    width: 100%; height: 60px; background-color: rgba(72, 46, 31, 0.8); 
    transform: translateX(-100%); transition: 0.5s
}
.menu .img_box .item .btn a {font: 18px/61px 'gyeonggititlebold'; color:  #9f8a7e; transition: 0.8s}
.menu .img_box .item .btn a i{line-height: 60px; padding-left: 10px;}

/*---- hover ----*/
.menu.on .txt_box,
.menu.on .img_box .item{opacity: 1}
.menu.on .img_box .item:nth-of-type(1),
.menu.on .img_box .item:nth-of-type(4){transform: translateX(0%)}
.menu.on .img_box .item:nth-of-type(2),
.menu.on .img_box .item:nth-of-type(3){transform: translateY(0%)}

.menu.on .img_box .item:hover::after{transform: translateX(0%)}
.menu.on .img_box .item:hover img{transform: scale(1.1)}
.menu.on .img_box .item:hover .btn::after{background-color: rgba(72, 46, 31, 1); transform: translateX(0%)}
.menu.on .img_box .item:hover .btn>a{position: relative; z-index: 5; color: floralwhite}

@media screen and (max-width: 1200px){
    
    .menu{height: 800px; }
    .menu .txt_box{width: 270px}
    .menu .txt_box .txt{text-align: justify}
        
    .menu .img_box .item{width: 32%;}
    .menu .img_box .item:nth-of-type(1){top: 140px; height: 360px}
    .menu .img_box .item:nth-of-type(2){left: 34%;  height: 270px}
    .menu .img_box .item:nth-of-type(3){left: 34%; top: 290px; height: 270px}
    .menu .img_box .item:nth-of-type(4){top: 50px; height: 360px;}
    
    .menu .img_box .item .btn{height: 50px; padding: 0px 20px}
    .menu .img_box .item .btn>a{font-size: 16px; line-height: 51px}
    .menu .img_box .item .btn>a>i{line-height: 50px}
    
}
@media screen and (max-width: 768px){
    
    .menu{position: relative; height: auto}
    .menu .t_bar{width: 100px; margin: 0 auto}
    .menu .txt_box{width: 100%; text-align: center}
    .menu .txt_box .txt{width: 55%; text-align: center; margin: 0 auto}
        
    .menu .img_box{display: flex; flex-wrap: wrap; justify-content: space-between; }
    .menu .img_box .item{position: static; width: 48.5%; margin-bottom: 20px; }
    .menu .img_box .item:nth-of-type(1){height: auto;}
    .menu .img_box .item:nth-of-type(2){height: auto;}
    .menu .img_box .item:nth-of-type(3){height: auto;}
    .menu .img_box .item:nth-of-type(4){height: auto;}
    
}
@media screen and (max-width: 425px){
    
    .menu .t_bar{width: 100px; margin: 0 auto}
    .menu .txt_box{width: 100%; text-align: center}
    .menu .txt_box .txt{width: 98%; font-size: 12px}
    .menu .img_box .item{width: 100%}
}

@media screen and (max-width: 375px){
    
     .menu{height: 1520px;}
     .menu .txt_box .txt{width: 100%}
}
/*--------- .newstent ----------*/
.news{position: relative; background-color: #5a3f30; height: 620px; padding-top: 130px}
.news::before,
.news::after{content: ''; position: absolute; z-index: 1;  border-radius: 50%;}
.news::before{bottom: 90px; left: 580px; width: 140px; height: 140px; background-color: #c9bcaa}
.news::after{top: 60px; right: -6%; z-index: 1; width: 380px; height: 380px; background-color: #e3d7c6;}

.news .video_box{
    position: absolute; top: 130px; left: -200px; width: 900px; height: 360px; border-radius: 300px; 
    background-image: url('../img/news_img.jpg'); background-position: 100px center; background-size: cover; transform: translateX(-100%); transition: 0.7s
}
.news .video_box::after{content: ''; display: block;  position: absolute; width: 100%; height: 100%; border-radius: 300px; background-color: #5a3f30; opacity: 0.5; }

.news .video_box>a{position: absolute; top: 180px; left: 720px; transform: translateY(-50%); width: 58px; height: 58px; text-align: center; font: 16px 'gyeonggititlebold'; color: #e3d7c6; z-index: 2}
.news .video_box>a>i{font-size: 48px}
.news .video_box>a>p{padding-top: 5px}


.news .inner{overflow: hidden;}
.news .txt_box{width: 55%; height: 100%; margin: 20px 0 0 auto;transition: 0.5s}
.news .txt_box .t_bar{background-color: #e9decf}
.news .txt_box .title{color: #e9decf}
.news .txt_box .txt{font-size: 18px}
.news .txt_box .subtitle{padding: 20px 0px; color: #e9decf; font: 28px 'gyeonggititlemedium' ;letter-spacing: 1px}
.news .txt_box .subtxt{font: 18px/24px 'gyeonggibatangregular'; color: #ad9a8e}

.news .txt_box .btn{width: 320px; margin: 30px 0px;}
.news .txt_box .btn >a{display: inline-block; width: 140px; height: 46px; margin-right: 20px; border-radius: 50px; background-color: #fff6e9; text-align: center; font: 18px/46px 'gyeonggititlemedium'; color: #482e1f}
.news .txt_box .btn >a:nth-of-type(2){margin-right: 0px}

.news .txt_box .btn >a:hover{background-color: #d79466; color: #fff6e9; transition: 0.3s}

.news.on .video_box{transform: translateX(0%)}
.news.on .txt_box{transform: translateY(0%)}



@media screen and (max-width: 1200px){
    
    .news{height: 560px; padding-top: 80px}
    .news::before{bottom: 110px; left: 390px; width: 90px; height: 90px;}
    .news::after{right: -170px; top: 34px; width: 280px; height: 280px}
    
    .news .video_box{top: 110px; left: -410px; height: 320px; background-position: 300px 0px; background-size: 600px}
    .news .video_box>a{top: 170px; left: 750px}
    .news .video_box>a>i{font-size: 36px}
    
    .news .txt_box{width: 50%; padding: 80px 20px}
    .news .txt_box .txt{font-size: 14px}
    .news .txt_box .subtitle{padding: 14px 0px; font-size: 20px}
    .news .txt_box .subtxt{width: 88.5%; font-size: 13px; line-height: 20px}
    .news .txt_box .subtxt>br{display: none}
    
    .news .txt_box .btn{width: 100%; margin: 20px 0px}
    .news .txt_box .btn>a{width: 100px; height: 32px; margin-right: 10px; font-size: 13px; line-height: 32px}
    
}
@media screen and (max-width: 960px){
    
    .news{height: 830px; padding: 100px 0px}
    .news::before{width: 300px; height: 300px; bottom: -130px; left: -100px; z-index: 1; opacity: 0.3}
    .news::after{display: none}
    
    .news .video_box{top: 204px; left: 0px; width: 100%; border-top-left-radius: 0px; border-bottom-left-radius: 0px; background-position: center; background-size: cover}
    .news .video_box::after{border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
    .news .video_box>a{left: 50%; top: 50%; transform: translate(-50%, -50%)}
    .news .video_box>a>i{font-size: 50px}
    
    .news .t_bar{width: 100px; margin: 0 auto}
    .news .txt_box{transform: translateY(0%); opacity: 0; transition: 0.5s}
    .news .txt_box,
    .news .txt_box .txt{width: 100%; padding: 0; text-align: center}
    .news .txt_box .txt{font-size: 15px}
    .news .txt_box .subtitle{padding-top: 390px; font-size: 22px}
    .news .txt_box .subtxt{width: 82%; margin: 6px auto; font-size: 15px; line-height: 24px}
    
    .news.on .txt_box{opacity: 1}
    
}
@media screen and (max-width: 425px){

    
    .news{height: auto; padding: 60px 20px}
    .news::before,
    .news::after{display: none}
    
    .news .video_box{top: 164px; left: 0px; height: 300px; border-radius: 0; transform: translateX(0%); opacity: 0}
    .news .video_box::after{border-radius: 0}
    .news .video_box>a>p{padding-left: 5px}
    .news .txt_box .txt{font-size: 13px; width: 90%; margin: 0 auto}
    .news .txt_box .subtitle{padding-top: 370px; font-size: 18px}
    .news .txt_box .subtxt{font-size: 12px; line-height: 17px; width: 90%; margin: 0 a}
    .news .txt_box .subtxt>br{display: none}
    
    .news.on .video_box{opacity: 1}
    
}
@media screen and (max-width: 375px){

    .news .txt_box .subtxt{font-size: 11px; line-height: 18px; width: 93%}
}


/*---------------------- .instagram -------------------------*/

.instagram{background-color: #e9decf}
.instagram .title{width: 100px; height: 100px; margin: 0 auto 40px;background: url('../img/insta_logo.png') no-repeat; background-size: cover; white-space: nowrap; text-indent: 100%; overflow: hidden; }
.instagram > img{position: absolute; top: -160px; left: 50%; transform: translateX(-50%); width: 150px; height: 150px}

.instagram .box{width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.instagram .box a{display: block; width: calc(20% - 10px); margin: 0 0 10px; overflow: hidden; background-color: black}
.instagram .box a > img {display: block; width: 100%; height: 100%;transform: scale(1.1); transition: 0.5s; opacity: 0.6}
.instagram .box a:hover img{transform: scale(1); opacity: 1}

@media screen and (max-width: 768px){
    .instagram .box a{width: calc(33.333% - 10px);}
    .instagram .box a:last-of-type{display: none;}
}

@media screen and (max-width: 425px){
    .instagram .box a{width: calc(50% - 5px);}
    .instagram .box a:last-of-type{display: block;}
}




/*---------------------- .footer -------------------------*/
.footer{position: relative; width: 100%; padding: 80px 0; background-color: #482e1f}
.footer .box{width: 100%; margin-bottom: 20px; }

.footer .box.title span{display: inline-block;padding: 0px 10px 0 0; font: 16px 'gyeonggititlemedium'; color: #cec0b1; letter-spacing: 2px}
.footer .box.title span:first-of-type{margin-right: 10px;  border-right: 2px solid #cec0b1}


.footer .box.addr span{margin-bottom: 10px; font: 15px 'gyeonggititlelight'; color: #887468;}

.footer .box.mail .mail_box{position: absolute; top: 0; right: 0; width: 250px; height: 40px; padding: 0px 20px; background-color: #887468}
.white_color{font-size: 14px}


.footer .box.etc {width: 100%; padding: 30px 0; border-top: 1px solid #796457; display: flex; justify-content: space-between;}
.footer .box.etc a{font: bold 24px 'Bradley Hand ITC'}
.footer .box.etc p{text-align: center; font: 16px/32px 'gyeonggititlelight'; color: #887468; letter-spacing: 0.5px}

.footer .box.etc .sns > a{display:inline-block; width: 30px; margin: 0 5px;text-align: center; font : 22px/30px 'inherit'; color: #887468; transition: 0.3s}
.footer .box.etc .sns > a:hover{color: #cec0b1}


@media screen and (max-width: 1200px){
    .footer{padding: 60px 40px; }
    .footer .box.etc p{margin: 20px 0;}
   
}
@media screen and (max-width: 768px){
    .footer{text-align: center;}
    .footer .box.etc {display: block;}
    .footer .box.etc span{margin: 0 0 10px;}
    .footer .box.etc .sns > a{font-size: 18px; margin: 0;}
    .footer .box.mail .mail_box{position: static; margin: 0 auto 10px;}
}
